<!DOCTYPE html>
<html>
  <head>
    <title>SplitDB</title>
    <link href="/lib/css/bootstrap.css" rel='stylesheet' /> 
    <script src="/lib/js/bootstrap.js"></script>
    <script src="/lib/js/jquery-2.1.4.min.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="navbar-header navbar-brand">SplitDB</div>
    </nav>
    <div class='container'>
      <div style="text-align: center"><h1>All Splits</h1></div>
      <hr />
    </div>
  </body>
</html>
