<!DOCTYPE html>
<html>
  <head>
    <title>SplitDB</title>
    <link href="/lib/css/bootstrap.css" rel='stylesheet' /> 
    <link href="/css/base.css" rel='stylesheet' /> 
    <script src="/lib/js/jquery-2.1.4.min.js"></script>
    <script src="/lib/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="navbar-header navbar-brand">SplitDB</div>
    </nav>
    <div class='container'>
      <div style="text-align: center"><h1>All Splits</h1></div>
      <hr />

      <!--h2>Super Metroid <small>December 12, 2015</small></h2>
      <table class='splits'>
        <tr><td>Ceres Escape</td><td class='time'>3:15.05</td></tr>
        <tr><td>Bomb Torizo</td><td class='time'>5:57.92</td></tr>
        <tr><td>Etc.</td><td class='time'>10:32.10</td></tr>
      </table-->

      <div id="all-splits"></div>
    </div>
  </body>
</html>
